[Unit]
Description=Campfire

[Service]
WorkingDirectory=/root/projects/flexembed
ExecStart=/root/projects/flexembed/start.sh
Restart=always
User=root
RestartSec=5s
StandardOutput=append:/root/projects/flexembed/output.log
StandardError=append:/root/projects/flexembed/errors.log

[Install]
WantedBy=multi-user.target
